@import '../../styles/variables';
@import '../../styles/mixins';
.add-report__btn {
    position: absolute !important;
    display: flex;
    bottom: 40px;
    right: 40px;
    @include mobile {
        display: none !important;
    }
}

.reportor__content {
    margin-top: 48px;
    @include mobile {
        margin-top: 0;
    }
}

.toolbar {
    // margin: 16px 0;
    @include mobile {
        display: none !important;
    }
}
